/*By Vietnt Version.1.2.0*/

.diagram {
    font-size:14px;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    clear:both;
}

/***************Right content *********************/
.right-content {
    font-size:14px;
    margin-left:10px;
	display:inline-block;
	vertical-align:top;
}

.right-content ol{
    margin:0;
    padding:0;
}

.right-content li{
    padding:5px 0;
    list-style:decimal-leading-zero;
}

.right-content li:first-child{
    padding-top:0;
}

.right-content li a{
    color:#000;
    text-decoration:none;
}

.right-content li a:hover{
    color:#666;
    cursor:default;
}

.txt-red {
    color:#ee3424;
}

.txt-green {
    color:#60bb47;
}

.collapse1 {
    float:right;
    width:100% !important;
}

.collapse1 ol{
    padding-left:25px;
}

.collapse1 ol li{
    margin-right:50px;
    float:left;
}



/***************Left content *********************/
.left-content {
    background:url(../images/bg.jpg) no-repeat 0 0;
	background-color:#fff;
    height:510px;
    position:relative;
	display:inline-block;
    /*border:1px solid #f8a21e;*/
    width:585px;
}

.left-content p{
    margin:0px 0;
    font-weight:bold;
}

.c-00,.c-01,.c-02,.c-03,.c-04,.c-05,.c-06,.c-07,.c-08,.c-09,.c-10,.c-11,.c-12,.c-13,.c-14,.c-15,.c-16,.c-17,.c-18,.bg-04,.bg-06-green,.bg-06-red,.bg-07-green,.bg-07-red,.bg-10-green,.bg-10-red,.bg-11-green,.bg-12-red,.bg-12-green,.bg-15-green,.bg-15-red,.bg-16-green,.bg-16-red,.icon-02,.icon-03,.icon-05,.icon-08,.icon-09,.icon-13,.icon-14,.icon-17  {
    position:absolute;
    font-size:14px;
    text-align:center;
    display:none;
}

.icon-03,.icon-05{
    width:45px;
    height:16px;
}

.icon-02,.icon-08,.icon-09,.icon-13,.icon-14,.icon-17 {
    width:16px;
    height:45px;	
}

.icon-02{
    display:block;
    left:174px;
    top:39px;
}

.icon-03{
    display:block;
    left:266px;
    top:122px;
}

.icon-05{
    display:block;
    left:269px;
    top:226px;
}

.icon-08{
    display:block;
    left:379px;
    top:240px;
}

.icon-09{
    display:block;
    left:424px;
    top:239px;
}

.icon-13{
    display:block;
    left: 402px;
    top: 351px;
}

.icon-14{
    display:block;
    left: 265px;
    top: 351px;
}

.icon-17{
    display:block;
    left: 265px;
    top: 419px;
}

/*********************background**************/
.bg-04 {
    display:block;
    position:absolute;
    background:#fff;
    top: 116px;
    left: 242px;
    width: 17px;
    height: 24px;
    border:1px solid #000;
    border-bottom:0;
    vertical-align:bottom;
    line-height:0;	
}

.bg-04 span{
    display:block;
    float:right;
    vertical-align:bottom;
    line-height:0;
    background:#8dd7f6;
    width: 15px;
    height: 8px;
    border-bottom:1px solid #000;
}

.bg-04 .ctn{
    position:relative;
    background:#fff;
    width: 15px;
    height: 23px;
}

.bg-04 .row-01{
    top:0px;
    left:0;
    position:absolute;
    height:7px;
}

.bg-04 .row-02{
    top:7px;
    left:0;	
    position:absolute;	
}

.bg-04 .row-03{
    top:15px;
    left:0;	
    position:absolute;	
}

.bg-06-green,.bg-07-green,.bg-10-green,.bg-11-green,.bg-12-green,.bg-15-green,.bg-16-green {
    background:green;

}

.bg-06-red,.bg-07-red,.bg-10-red,.bg-11-red,.bg-12-red,.bg-15-red,.bg-6-red {
    background:red;
}


.bg-06-red,.bg-06-green {
    display:block;
    left:13px;
    top:212px;
    width:15px;
    height:19px;
    background:red;
}

.bg-06-green {
    top:179px;
    background:green;
}

.bg-07-red,.bg-07-green {
    display:block;
    width:10px;
    background:red;
    height: 9px;
    left: 177px;
    top: 244px;
}

.bg-07-green {
    top:253px;
    background:green;
}

.bg-10-red,.bg-10-green {
    display:block;
    left:348px;
    top:283px;
    width:14px;
    height:7px;
    background:red;
}

.bg-10-green {
    top:292px;
    background:green;
}

.bg-11{
    display:block;
    position:absolute;
    left:514px;
    top:284px;
    width:15px;
    height:14px;
}

.bg-12-red,.bg-12-green {
    display:block;
    left:514px;
    top:324px;
    width:15px;
    height:14px;
    background:red;
}

.bg-12-green {
    top:358px;
    background:green;
}

.bg-15-red,.bg-15-green {
    display:block;
    left:104px;
    top:316px;
    width:15px;
    height:19px;
    background:red;
}

.bg-15-green {
    top:350px;
    background:green;
}

.bg-16-red,.bg-16-green {
    display:block;
    left:194px;
    top:451px;
    width:15px;
    height:19px;
    background:red;
}

.bg-16-green {
    top:417px;
    background:green;
}


.bg-red {
    background:red !important;
}

.bg-green {
    background:green !important;
}

/*---------------*/

.c-00{
    display: block;
    left: 76px;
    top: 25px;
    width:30px;
}

.c-01{
    display:block;	
    left:30px;
    top:25px;
}

.c-02{
    display:block;	
    left:195px;
    top:30px;
}

.c-03{
    display:block;	
    left:285px;	
    top:89px;
}

.c-04{
    display:block;	
    left: 241px;
    top: 140px;
}

.c-05{
    display:block;	
    left:285px;	
    top:192px;
}

.c-06{
    display:block;	
    left:13px;	
    top:151px;
}

.c-07{
    display:block;	
    left: 156px;
    top: 259px;
}

.c-08{
    display:block;	
    left:372px;	
    top:200px;
}

.c-09{
    display:block;	
    left:418px;	
    top:199px;
}

.c-10{
    display:block;	
    left:323px;
    top:280px;
}

.c-11{
    display:block;	
    left:539px;	
    top:281px;
}

.c-12{
    display:block;	
    left:539px;	
    top:320px;
}

.c-13{
    display:block;	
    left: 419px;
    top: 327px;
}

.c-14{
    display:block;	
    left:283px;	
    top:327px;
}

.c-15{
    display:block;	
    left:98px;	
    top:378px;
}

.c-16{
    display:block;	
    left: 190px;
    top: 477px;
}

.c-17{
    display:block;	
    left:283px;	
    top:399px;
}

.c-18{
    display:block;	
    left:345px;	
    top:406px;
}

@media (max-width:1280px){
    .left-content {
        margin:0 auto;
        float:none;
    }	

    .right-content {
        float:none;
        margin-left:20px;
        text-align:left;
        margin-top:10px;
    }

    .right-content li{
        float:left;
        margin-right:50px;
    }	

}

/***********************************************/
/***********************************************/
/*info-diagram*/
.info-diagram {
    float:left;
    width:100%;
    clear:both;
    font-family:Arial;
    /*margin:20px 0;*/
    margin:0 0 20px 0;
}

.info-diagram .title{
    text-align:center;
}	

.right-info{
	width:200px;
	float:left;
}

.info-block{
    float:left;
    width:100%;
}

.info-block .info-block-item{
    background:#fcf8e3;
    border:1px solid #fcd16b;
    padding:10px;
    border-radius:4px;
    margin:5px;
}

.info-block .info-block-item .text-01{
    float:right;
    font-weight:bold;
}	

.info-diagram .check-account{
    float:left;
    width:100%;
    margin:20px 0;
}

.info-diagram .check-account .row-check-account,.info-diagram .check-account .row-form{
    padding:5px 0;
    float:left;
    width:100%;
    vertical-align:middle;
    clear:both;
}

.info-diagram .check-account .col-01{
    float:left;
    width:20%;
}


.check-account .form{
    background:#f7f7f9;
    border:1px solid #ddd;
    margin:0 auto;
    width:700px;
    padding:20px !important;
    border-radius:4px;
    clear:both;

}	

.info-diagram .check-account .col-01 strong{
    padding:6px 0;
    display:inline-block;
}	

.info-diagram .check-account p{
    padding:6px 0;
    margin:0;
}		

.info-diagram .check-account .col-02 select,.info-diagram .row-check-account .text-field-2{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-family:Arial;	
}

.info-diagram .capcha{
    display:inline-block;
    height:27px;
    overflow:hidden;
    float:left;
    border-radius:4px;
    background:#fff;
    margin-left:10px;
    margin-top:10px;
}

.info-diagram .capcha img{
    max-height:27px;
    height:27px;
    vertical-align:middle;
}	

.info-diagram .check-account .col-02 {
    float:left;
    width:80%;
    padding-left:10px;
}		

.link{
    background-color: #337ab7;
    border:0;
    color: #fff;
    border-radius:4px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    text-decoration:none;
    float:left;
    width:10%;	
    font-family:Arial;
    height:46px;
    padding:5px 0;
}

.info-diagram .check-account .link-2 {
    text-decoration:none;
    color:#000;
}

.btn-link{
    background-color: #337ab7;
    border:0;
    color: #fff;
    border-radius:4px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    text-decoration:none;
    font-family:Arial;
    padding:10px;
    margin-top:10px;
    min-width:200px;
}	

.info-diagram .row-check-account .content{
    float:left;	
    width:90%;
    padding-left:10px;	
}

.info-diagram .row-check-account .text-02{
    background-color: #fff;
    border: 1px solid #ddd;
    color: #000;
    border-radius:4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 12px 15px;
    vertical-align: middle;
}	

.info-diagram .row-check-account .text-03{
    color: #ff3300;
}							

.info-diagram .row-check-account .text-field{
    border:0;	
    font-family:Arial;
}

.info-diagram .row-check-account button:hover,.info-diagram .row-check-account a:hover,.btn-link:hover{
    cursor:pointer;
    background-color:#286090 !important;
}	

.info-diagram .check-account .link-2:hover{
    color:#009966;
    background-color:transparent !important;
}	

.form-2 {
    border:1px solid #000;
    width:400px;
    margin:0 auto;
    background:#c4c1dd;
}

.form-2 .row-form{
    border-top:1px solid #000;	
}

.form-2 .row-form{
    border-top:1px solid #000;	
    padding:0 !important;
    font-size:14px;
}

.form-2 .row-form .col-02{
    border-left:1px solid #000;	
    width:65%;
    float:left;
    padding:0 10px;
}

.form-2 .row-form .col-01{
    width:30%;
}	

.form-2 .btn-link{
    border-radius:0;
    margin:0;
    padding:15px;
    background: linear-gradient(90deg, rgba(0,147,213,1) 0%, rgba(255,255,255,1) 50%, rgba(0,147,213,1) 100%); /* Standard syntax */	
    color:#000;
    font-weight:bold;
    font-size:16px;
    text-transform:uppercase;
}	

.form-2 .row-form .text-field-2{
    width:100%;
    font-family:Arial;
    font-size:14px;
    margin:10px 0;
    padding:5px 0;
    border:0;
    background:transparent;
}	

.form-2 .row-form-last{
    clear:both;
    border-top:1px solid #000;
}

.form-2 p{
    padding:15px 10px !important;
}	

.form-2 h3{
    padding:15px;
    text-transform:uppercase;
    margin:0;
    background: linear-gradient(90deg, rgba(108,138,195,1) 0%, rgba(255,255,255,1) 50%, rgba(108,138,195,1) 100%); /* Standard syntax */		
}		

.header {
    float:left;
    width:100%;
    clear:both;
    position:relative;
}

.header .header-left{
    float:left;
    width:235px;
    height:150px;
    background:#3e8ba5;
    text-align:center;
    line-height:150px;
    position:absolute;
    top:0;
    left:0;
}

.header .header-left .logo{
    display:inline-block;
    vertical-align:middle;
    height:100px;
    width:100px;
    overflow:hidden;
    background-color:#fff;
    border-radius:50px;
    line-height: 0;
}

.header .header-left .logo img{
    height:100px;
    width:100px;
}	

.header .banner{
    background:#756fb0;
}

.header .banner .banner-image{
    height:150px;
    background-color:#756fb0;
    text-align:right;
}

.header .banner .banner-image img{
    max-height:150px;
    width:88%;
}	

.header .banner .banner-menu{
    /*background-color:#595586;*/
    background-color:#3e8ba5;
    text-align:right;
    height:33px;
    position:absolute;
    right:0;
    bottom:0;
}

.fix-menu-top {
	position:fixed !important;
	right:0;
	top:0;
	z-index:1030;
}

.header .banner .banner-menu a{
    border-left:1px solid #595586;
    display:inline-block;
    padding:7px 15px;
    text-decoration:none;
    color:#fff;
    background:#1caf9a;
    float:left;
}

.header .banner .banner-menu a:first-child{
    border-left:0;
}

.header .banner .banner-menu .content-menu{
    float:right;
}

.header .banner .banner-menu .active{
    background:#cd3d11;
}		

.clearfix {
    clear:both;
    width:100%;
    float:left;
}	

.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}


/*btn-check*/
.btn-check{
    background-color: #337ab7;
    border:0;
    color: #fff;
    border-radius:10px;
    display: inline-block;
    text-decoration:none;
    padding:20px;
    margin:20px;
    font-size:0;
}

.info-diagram .row-check-account .btn-check:hover,.info-diagram .row-check-account .select-button{
    background-color:#1caf9a !important;
    border:0;
    color: #fff;
    border-radius:10px;
    display: inline-block;
    text-decoration:none;
    padding:20px;
    margin:20px;
}

.btn-check img{
    border-radius:5px;
}

.icon-refresh-fix {
    position:fixed;
    top:190px;
    /*right:50px;*/
    right:13px;
    border-radius:50%;
    background-color:#fff;
    z-index:1030;
}

.icon-refresh-fix img{
    border-radius:50%;
	}

.animation-spin{
  	animation: spinner .6s linear infinite;	
	}

.container-all {
	width:800px;
	margin:0 auto;	
}

@keyframes spinner {
    to {transform: rotate(360deg);}
	}
 

*{
    box-sizing:border-box;	
}	

